<div class="container">
 <div class="row pt-5">
    <div class="col-9">
       <form class="mt-4" name="container-form" method="post">
          <table class="table">
              <thead>
                  <th>sản phẩm</th>
                  <th>số lượng</th>
                  <th>giá</th>
                  <th>Chức năng</th>
              </thead>
              <tbody>
                    {{#each cart.products}}
                  <tr class="cart-center">
                      {{!-- <th scope="row"><img src={{this.img}} alt="hinh" class="cartImg">{{this.name}}</src></th> --}}
                      <th scope="row">{{this.name}}</th>
                      <td><input type="number" value="{{this.quantity}}"></td>
                      <td class="price">{{this.total}}</td>
                      <td>
                      <a href=" " class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-cart-modal">Xóa</a>
                      </td>
                    {{else}}
                    không có sản phẩm nào trong giỏ hàng

                    {{/each}}
                    </tr>
              </tbody>
          </table>
      </form>
    </div>
    <div class="col-3 pt-4 text-center">
      <div class="card">
        <div class="card-header">
          Tổng số lượng
        </div>
        <div class="card-body pt-2">
          Giá tiền: {{cart.subtotal}}$
        </div>
        <div class="card-title pt-2">
          Vận chuyển: Miễn phí
        </div>
        <div class="card-footer">
          <Button class="btn btn-outline-danger">Tiến hành thanh toán</Button>
        </div>
      </div>
    </div>
 </div>
<div>
   
</div>

<div id="delete-cart-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc xóa sản phẩm này</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-cart" type="button" class="btn btn-primary">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>
</div>

<form  method="post" name="delete-cart-form">

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var deleteForm = document.forms['delete-cart-form']
    var btnDeleteCart = document.getElementById('btn-delete-cart')
    $('#delete-cart-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        cartId = button.data('id')
  });
  btnDeleteCart.onclick = function () {
        alert(cartId);
        deleteForm.action = '/cart/' + cartId + '?_method=DELETE'
        deleteForm.submit(); 
  }
  })
  

</script>
