<div class="container">
  <form class="mt-4" name="container-form" method="post">

    <table class="table mt-4">
        <thead>
            <th>ID</th>
            <th>Name Product</th>
            <th>price</th>
            {{!-- <th>Số lượng</th> --}}
        </thead>
        <tbody>
          {{#each product}}
            <tr>
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>
                    <a href="/product/{{this._id}}/edit" class="btn bnt-link">sửa</a>
                    <a href=" " class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-product-modal">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<div id="delete-product-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc xóa sản phẩm này</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-product" type="button" class="btn btn-primary">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

<form  method="post" name="delete-product-form">

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var deleteForm = document.forms['delete-product-form']
    var btnDeleteProduct = document.getElementById('btn-delete-product')
    $('#delete-product-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        productId = button.data('id')
  });
  btnDeleteProduct.onclick = function () {
        alert("Xóa thành công");
        deleteForm.action = '/admin/product/' + productId + '?_method=DELETE'
        deleteForm.submit(); 
  }
  })
</script>

</div>